:root {
    --main-red: #ff5100;
    --main-green: #5AC53B;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0px 24px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.row:hover{
    background-color: #31363A;
}

.row__intro h1{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: left;
}

.row__intro p{
    font-size: 12px;
}

.row__chart {
    padding: 0 10px;
}

.row__numbers {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

.row__price {
    padding-bottom: 4px;
}

.row__percentage.negative {
    color: var(--main-red);
}

.row__percentage.positive {
    color: var(--main-green);
}